@import "tailwindcss";
 @plugin "daisyui" {
   themes: corporate --default, business --prefersdark;
 }


 
@plugin "daisyui/theme" {
  name: "corporate";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(96% 0.007 247.896);
  --color-base-200: oklch(92% 0.013 255.508);
  --color-base-300: oklch(86% 0.022 252.894);
  --color-base-content: oklch(50% 0.134 242.749);
  --color-primary: oklch(96% 0.007 247.896);
  --color-primary-content: oklch(50% 0.134 242.749);
  --color-secondary: oklch(96% 0.007 247.896);
  --color-secondary-content: oklch(50% 0.134 242.749);
  --color-accent: oklch(96% 0.007 247.896);
  --color-accent-content: oklch(50% 0.134 242.749);
  --color-neutral: oklch(96% 0.007 247.896);
  --color-neutral-content: oklch(50% 0.134 242.749);
  --color-info: oklch(96% 0.007 247.896);
  --color-info-content: oklch(50% 0.134 242.749);
  --color-success: oklch(96% 0.007 247.896);
  --color-success-content: oklch(50% 0.134 242.749);
  --color-warning: oklch(96% 0.007 247.896);
  --color-warning-content: oklch(50% 0.134 242.749);
  --color-error: oklch(96% 0.007 247.896);
  --color-error-content: oklch(50% 0.134 242.749);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.28125rem;
  --size-field: 0.28125rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 0;
}






@plugin "daisyui/theme" {
  name: "business";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(37% 0.044 257.287);
  --color-base-200: oklch(27% 0.041 260.031);
  --color-base-300: oklch(20% 0.042 265.755);
  --color-base-content: oklch(78% 0.154 211.53);
  --color-primary: oklch(20% 0.042 265.755);
  --color-primary-content: oklch(78% 0.154 211.53);
  --color-secondary: oklch(20% 0.042 265.755);
  --color-secondary-content: oklch(78% 0.154 211.53);
  --color-accent: oklch(20% 0.042 265.755);
  --color-accent-content: oklch(78% 0.154 211.53);
  --color-neutral: oklch(20% 0.042 265.755);
  --color-neutral-content: oklch(78% 0.154 211.53);
  --color-info: oklch(20% 0.042 265.755);
  --color-info-content: oklch(78% 0.154 211.53);
  --color-success: oklch(20% 0.042 265.755);
  --color-success-content: oklch(78% 0.154 211.53);
  --color-warning: oklch(20% 0.042 265.755);
  --color-warning-content: oklch(78% 0.154 211.53);
  --color-error: oklch(20% 0.042 265.755);
  --color-error-content: oklch(78% 0.154 211.53);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.28125rem;
  --size-field: 0.28125rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 0;
}


